:root {
  --turquoise: #00efe1;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #00333f;
  --black: #030416;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: var(--color);
  background-color: var(--background);
}

.App {
  color: var(--color);
  background-color: black;

   min-height: 100vh;
}

.App.light {
  --color: var(--black);
  background-color: whitesmoke;
  
  --primary: var(--mid-turquoise);
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons */
button, .button {
  appearance: auto;
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
}

button.active,
button:focus,
button:hover,
.button.active,
.button:focus,
.button:hover {
  outline: none;
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled,
.button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue,
.button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover,
.button.blue.active,
.button.blue:focus,
.button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}
